**/*.class
**/*.log
**/*.jar
bin
maven-eclipse.xml
modules
target
generated-java
.classpath
.externalToolBuilders
.gradle
.mymetadata
.project
.settings
.metadata
.factorypath
.apt_generated
.checkstyle
pom.xml.versionsBackup
rebel.xml
lib
