<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Init JUL Logging -->
	<bean id="initLoggingInvocation"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass">
			<value>de.emediapark.sample.jettylog4j.Jul2Slf4jConfigurator</value>
		</property>
		<property name="targetMethod">
			<value>init</value>
		</property>
	</bean>
</beans>
