<?xml version="1.0" encoding="UTF-8"?>
<!-- Format mit Schemapruefung (strict=true) -->
<Configuration status="debug" monitorInterval="30"
	verbose="false" strict="true">
	<Appenders>
		<Appender name="cons" type="Console">
			<Layout type="PatternLayout" pattern="LOG4J2 %d %-5p [%t] %C{2} (%F:%L) - %m%n"></Layout>
		</Appender>
		<Appender name="logfile" type="File" fileName="logs/example.log"
			append="true">
			<Layout type="PatternLayout" pattern="LOG4J2 %d %t %-5p %c{2} - %m%n"></Layout>
		</Appender>
	</Appenders>

	<Loggers>
		<Logger name="de.emediapark.sample" level="debug" additivity="false">
			<AppenderRef ref="logfile" />
			<AppenderRef ref="cons" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="cons" />
		</Root>
	</Loggers>
</Configuration>